/* purgecss start ignore */
@tailwind base;
@tailwind components;

/* Your own custom component styles */

/* purgecss end ignore */
@tailwind utilities;

body {
  background: black;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Roboto",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  cursor: pointer;
}

.clockdate-wrapper {
  position: absolute;
  top: 40%;
  padding: 5px;
  width: 100%;
  text-align: center;
  border-radius: 5px;
  margin: 0 auto;
}

.qoutes-wrapper {
  position: absolute;
  bottom: 0%;
  padding: 15px;
  width: 100%;
  text-align: center;
  border-radius: 5px;
  margin: 0 auto;
}

#clock {
  /* font-family: sans-serif; */
  font-size: 140px;
  text-shadow: 0px 0px 1px #fff;
  color: #fff;
  line-height: 1;
  letter-spacing: -5px;
  font-weight: 500;
}

.qoutes {
  /* font-family: sans-serif; */
  font-size: 20px;
  text-shadow: 0px 0px 1px #fff;
  color: #fff;
}

#clock span {
  font-size: 80px;
  top: -5px;
  left: 10px;
}

#date {
  letter-spacing: 3px;
  font-size: 20px;
  font-weight: normal;
  /* font-family: sans-serif; */
  color: #fff;
  margin-top: 5px;
}

.inset-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* css for glass bgs  */

.glass {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
    6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
    12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
    22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
    41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
    100px 100px 80px rgba(0, 0, 0, 0.07);

  backdrop-filter: blur(10.5px);
  -webkit-backdrop-filter: blur(10.5px);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.glasshover {
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
    6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
    12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
    22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
    41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
    100px 100px 80px rgba(0, 0, 0, 0.07);

  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.glass2 {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
    6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
    12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
    22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
    41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
    100px 100px 80px rgba(0, 0, 0, 0.07);

  backdrop-filter: blur(10.5px);
  -webkit-backdrop-filter: blur(10.5px);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.glasslink:hover {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
}

.glasslink:hover .editlink {
  display: block;
}

.glasstodo {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
    6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
    12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
    22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
    41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
    100px 100px 80px rgba(0, 0, 0, 0.07);

  backdrop-filter: blur(10.5px);
  -webkit-backdrop-filter: blur(10.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.dropdown:hover .dropdown-menu {
  display: block;
}

/* css for scrollbar styling */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  border-radius: 80px;
  box-shadow: inset 0px 0px rgb(192, 192, 192);
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: rgb(196, 196, 196);
}

/* loader css */
.spinner {
  animation: spin 2s linear infinite;
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
  width: 50px;
  height: 50px;
}

.spinner .path {
  stroke: rgb(11, 17, 22);
  stroke-linecap: round;
  animation: spinner-path 1.5s ease-in-out infinite;
}

@keyframes spin {
  100% {
    transform: spin(360deg);
  }
}

@keyframes spinner-path {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}

/* todo component */

.todo:hover .tododelete {
  display: flex;
}

/* Toggle B */
.toggle-checkbox:checked {
  @apply: right-0 border-green-400;
  right: 0;
  border-color: #68d391;
}
.toggle-checkbox:checked + .toggle-label {
  @apply: bg-green-400;
  background-color: #68d391;
}
