/* purgecss start ignore */
@tailwind base;
@tailwind components;

/* Your own custom component styles */

/* purgecss end ignore */
@tailwind utilities;

body {
  background: black;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Roboto",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  cursor: pointer;
}

.clockdate-wrapper {
  position: absolute;
  top: 35%;
  padding: 10px;
  width: 100%;
  text-align: center;
  border-radius: 5px;
  margin: 0 auto;
}

.qoutes-wrapper {
  position: absolute;
  bottom: 0%;
  padding: 15px;
  width: 100%;
  text-align: center;
  border-radius: 5px;
  margin: 0 auto;
}

#clock {
  font-family: sans-serif;
  font-size: 130px;
  text-shadow: 0px 0px 1px #fff;
  color: #fff;
}

.qoutes {
  font-family: sans-serif;
  font-size: 15px;
  text-shadow: 0px 0px 1px #fff;
  color: #fff;
}

#clock span {
  text-shadow: 0px 0px 1px #333;
  font-size: 80px;
  top: -5px;
  left: 10px;
}

#date {
  letter-spacing: 3px;
  font-size: 20px;
  font-family: arial, sans-serif;
  color: #fff;
}

.inset-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* css for glass bgs  */

.glass {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(10.5px);
  -webkit-backdrop-filter: blur(10.5px);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.glass2 {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(10.5px);
  -webkit-backdrop-filter: blur(10.5px);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.glasslink:hover {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
}

.glasslink:hover .editlink {
  display: block;
}

.glasstodo {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(10.5px);
  -webkit-backdrop-filter: blur(10.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.dropdown:hover .dropdown-menu {
  display: block;
}

/* css for scrollbar styling */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  border-radius: 80px;
  box-shadow: inset 0px 0px rgb(192, 192, 192);
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: rgb(196, 196, 196);
}

/* loader css */
.spinner {
  animation: spin 2s linear infinite;
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
  width: 50px;
  height: 50px;
}

.spinner .path {
  stroke: rgb(11, 17, 22);
  stroke-linecap: round;
  animation: spinner-path 1.5s ease-in-out infinite;
}

@keyframes spin {
  100% {
    transform: spin(360deg);
  }
}

@keyframes spinner-path {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}

/* todo component */

.todo:hover .tododelete {
  display: flex;
}
